* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
header {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.login-section {
    background-color: seashell;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
input[type="email"], 
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.form-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}
.form-options a {
    color: #0f0f0f;
    text-decoration: none;
}
.form-options a:hover {
    text-decoration: underline;
    opacity: 0.8;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #d6b316;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
button:hover {
    opacity: 0.9;
}
footer {
  background-color: bisque;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}