/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
body {
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
  padding-top: none;
}

/* Navbar Wrapper */
.navbarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Main Navbar */
.navbar {
  background-color: #218091;
  display: flex;
  align-items: center;
  justify-content: space-between ;
  padding: 12px 20px;
  border-radius: 2px;
  width: 100%;
}

.logoCircle {
  width: 60px;              
  height: 60px;              
  border-radius: 50%;     
  overflow: hidden;        
  border: 2px solid #333;   
  display: flex;             
  align-items: center;
  justify-content: center;
}
.logoCircle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* Nav Links */
.navLinks {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navLinks a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navLinks a:hover {
  opacity: 0.6;
}

button {
  background-color: #032755;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
button a {
  color: white;
  text-decoration: none;
}
button:hover {
  opacity: 0.8;
}